* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(176, 229, 208, 1) 42%,
    rgba(92, 202, 238, 0.41) 93.6%
  );
}

a {
  text-decoration: none;
  color: #fff;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

.display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

/* LIGHT THEME */

.calculator {
  background-color: #fff;
}

.calculator.display {
  color: #0a1e23;
}

.calculator button#clear {
  background-color: #49a19a;
  color: #000;
}

.calculator button.btn-number {
  background-color: #c1fcf6;
  color: #000;
}

.calculator button.btn-operator {
  background-color: #81d8d0;
  color: #000;
}

.calculator button.btn-equal {
  background-color: #49a19a;
  color: #000;
}

/* DARK THEME */

.calculator.dark {
  background-color: #071115;
}

.calculator.dark.display {
  color: #0a1e23;
}

.calculator.dark button#clear {
  background-color: #1b2f38;
  color: #fff;
}

.calculator.dark button.btn-number {
  background-color: #42887c;
  color: #fff;
}

.calculator.dark button.btn-operator {
  background-color: #0e485c;
  color: #fff;
}

.calculator.dark button.btn-equal {
  background-color: #1b2f38;
  color: #fff;
}
